__pycache__/
*.pyc
.local/
.venv/
dist/
.pytest_cache/
node_modules/
target/
android/.gradle/
android/.kotlin/
android/.idea/
android/**/*.iml
android/local.properties
android/**/build/
desktop/src-tauri/vendor/*/Cargo.lock
desktop/src/shared/
desktop/src-tauri/gen/
desktop/src-tauri/icons/*
!desktop/src-tauri/icons/source.svg
!desktop/src-tauri/icons/icon.ico
!desktop/src-tauri/icons/icon.png
